.banner {
	background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%);
	background-size: cover ;
	background-position: center;
	padding: 150px 0;
	text-align: center;
}

.banner h1 {
	color: green;
	font-size: 50px;
}

.banner h2 {
	color: green;
	font-size: 40px;
	font-weight: lighter;
	opacity: 0,8;
}

